.title{
    font-size: 26px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    color: var(--primary-color);
}

.subtitle{
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
    padding: 2px 0px 14px 0px;
    color: var(--gray-color);
}


.info-title{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0px;
}

.info{
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}