<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form action="get">
        <h1 class="title">crud users</h1>
        <h2 class="subtitle">Mais eficiencia no controle de usuarios</h2>
<!-- inputs -->
        <input [(ngModel)]="userName"  [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome">
        <app-button textButton="Acessar" size="100" class="w-100" (click)="login()"></app-button>
    </form>

    <p class="footer">desenvolvido por Domoどうも :3 ©</p>
</div>