.container-padding{
    padding: 20px;
}

.title{
    font-size: 26px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    color: var(--primary-color);
}

.subtitle{
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 26px 0px 14px 0px;
    color: var(--gray-color);
}

.no-data{
    padding: 8px 14px;
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-color);
}

tr{
    height: 40px;
}

.th-table{
    font-size: 14px;
    font-weight: 500;
    color: #5a5a5a;
    
}


.td-table{
    font-size: 14px;
    font-weight: 500;
    color: #767676;
}

.icone-tabela{
    color: #767676;
    margin-right: 10px;
    transform: rotate(0deg);
    transition: 0.2s linear all;

    &:hover{
        cursor: pointer;
        color: var(--primary-color);
        transform: rotate(359deg);
    }
}