.card-info{
    background-color: #fafafa;
    padding: 14px 35px 20px 18px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #0a0a0a20;
}

.title{
    font-size: 26px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    color: var(--primary-color);
}

.subtitle{
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    padding: 26px 0px 14px 0px;
    color: var(--gray-color);
    span{
        color: var(--primary-color); font-weight: 500;
    }
}

// card spinner

.text-card{
    font-size: 16px;
    font-weight:500;
    color: #888;
    margin-bottom: 18px;
}

.number-card{
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 18px;
}

.text-p{
    color: var(--gray-color);
}

mat-icon{
    color: var(--primary-color);
}

li{ list-style: none; }


.info-spinner{
    font-size: 14px;
    font-weight: 500;
    color: #797979;
    text-align: center;
    position: relative;
    top: -62px;
    margin: 0px auto;
}

// LADO DIREITO

li{
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-color);
    padding: 14px 0px;
    display: flex;
    align-items: center;

    mat-icon{
        margin-right: 10px;
        font-size: 22px;
    }
}

.img-perfil{
    border-radius: 50%;
    width: 40%;
}

.container-perfil{
    width: 100%;
    text-align: center;

    h4{
        font-size: 16px;
        color: #474747;
        font-weight: 500;
        margin: 8px 0px 0px 0;
    }

    h5{
        font-size: 16px;
        color: #6d6d6d;
        font-weight: 600;
        margin: 8px 0px 0px 0;
    }

    li { justify-content: center; color: var(--primary-color);}
}

.texto-p{
    font-size:14px;
    font-style: italic;
    color: #767676;
}