.sidemenu{
    color: white;
    width: 210px;
    height: 100vh;
    min-height: 100vh;
    display: block;
    float: left;
    background-color: var(--primary-color);
    padding: 10px 0px;
    box-shadow: 4px 0px 10px 4px #0a0a0a30;
    margin-right: 16px;

    ul{ padding:0px; }

    .logo{
        width: 50px;
    }

    span{
        font-size: 25px;
        font-weight: bold;
        margin-left: 4px;
    }

    li{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fafafa;
        padding: 14px 24px;
        display: flex;
        align-items: center;
        justify-content: left;
        transition: 0.3s linear all;
        

        mat-icon { margin-right: 14px; font-size: 22px; }
        &:hover{
            background-color: #e6e6e6;
            cursor: pointer;
            color: var(--primary-color);
        }        
    }
    .logout{
            position: absolute;
            bottom: 10px;
            width: 210px;
    }
    
}

a {
   text-decoration: none;
}