.title{
    font-size: 26px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    color: var(--primary-color);
}

.subtitle{
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
    padding: 2px 0px 14px 0px;
    color: var(--gray-color);
}


.botao-primario{
    width: auto;
    outline: none;
    border:0px;
    background: #753a87;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding:6px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #0a0a0a20;
    transition: .1s linear all;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 5px 3px #0a0a0a40;
    }

    &:disabled{
        cursor: not-allowed;
        opacity: 0.7;
    }
}